.o-body {
  margin-bottom: 56px;
  @media (--md-up) {
    margin-left: 56px;
    margin-bottom: 0;
  }
}

.c-iconbar {
  @mixin sticky-bottom;
  background-color: var(--primary-color);
  color: var(--white);
  height: 56px;

  @media (--md-up) {
    height: 100%;
    right: auto;
    top: 0;
    width: 56px;
  }
}

.c-iconbar__list {
  text-align: center
}

.c-iconbar__link {
  @mixin center;
  cursor: pointer;
  color: var(--white);
  font-size: var(--font-size--semi-small);
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.c-iconbar__item {
  color: var(--white);
  display: inline-block;
  padding: 0 1em;
  min-width: 64px;
  max-width: 96px;
  transition-duration: var(--global-duration);

  @media (--md-up) {
    min-width: 56px;
    max-width: 56px;
    padding: 0;
  }

  &.is-active {
    background-color: var(--white);
    color: var(--primary-color);
    min-width: 92px;
    max-width: 168px;
  }
}

.o-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  user-select: none;
  vertical-align: middle;
  width: 24px;
}

.c-iconbar__icon {
  fill: var(--white);
  display: block;
  position: relative;
  top: 9px;
  transition-duration: var(--global-duration);
  margin: 6px 0;

  .is-active & {
    top: 6px;
  }

  @media (--md-up) {
    .c-iconbar__item:hover & {
      top: 6px;
    }
  }
}

.c-iconbar__label {
  @mixin fade-out;
  display: inline-block;
  height: 0;
  transition-duration: var(--global-duration);

  .is-active & {
    @mixin fade-in;
    height: auto;
    margin-bottom: 10px;
  }

  @media (--md-up) {
    margin-top: 6px;
    .c-iconbar__item:hover & {
      @mixin fade-in;
      height: auto;
      margin-bottom: 10px;
    }
  }
}