/*---
 title: a11y
 section: Utilities
 ---

#### a11y

With this, we can write styles with built-in assertions that point out certain elements that lack required a11y aria properties.

```css
.foo { @mixin assert-selector; }
```

*/

@define-mixin assert-selector { outline: 2px solid var(--red-600); }

/* specify the progress cursor of updating elements */
[aria-busy='true'] { cursor: progress; }

/* specify the pointer cursor of trigger elements */
[aria-controls] { cursor: pointer; }

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] { cursor: default; }