@import 'utilities/media';
@import 'utilities/grid';
@import 'utilities/visibility';
@import 'utilities/mixins';
@import 'utilities/positioning';

@import 'elements/colour';
@import 'elements/layout';
@import 'elements/size';
@import 'elements/typography';

@import 'components/button';
@import 'objects/iconbar';

.o-page {
  background-color: #f4f4f4; 
  font-family: Helvetica, Arial, sans-serif;
}

.o-hero {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  padding: 1em 0;
}

.o-logo {
  margin-bottom: .5em;
}

.o-heading-1 {
  font-size: 3em;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: var(--black);
  margin-bottom: 20px;
}

.o-heading-2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125em;
  color: rgb(27, 197, 172);
  margin-bottom: 20px;
}

.o-title {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: var(--primary-color);
}

.o-catch {
  font-family: 'Ubuntu', sans-serif;
  color: var(--secondary-color);
  padding: 1em;
  font-size: 2em;
  em {
    color: var(--black);
  }
}

.o-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 1em 1em;
  @media (--md-up) {
    margin: 0 2em 1em 2em;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}